@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

header {
    color: white;
    text-align: center;
    padding: 15px;
}

h1 {
    text-shadow: 2px 2px black;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
    text-align: center;
}

#mensagem {
    padding: 12px;
}

#imagem {
    border-radius: 50%;
    padding: 15px;
}

footer {
    font-style: italic;
    color: white;
    text-align: center;
    padding: 15px;
}